{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% endblock %}

{% block content %}

<section class="page-section" id="services" >
    <div class="container">
      <div class="row" style="padding-bottom: 100px;">
        <div class="col-lg-12 text-center">
          <h1>{% trans "Change Password" %}</h1>
        </div>
      </div>

         <div class="row text-center" >
            <div class="col-md-3">
                <h1>
                    {% if token_fail %}
                        {% trans "Bad Token" %}
                    {% else %}
<!--                        {% trans "Change Password" %}-->
                    {% endif %}
                </h1>
            </div>

            <div class="col-md-6" style="background-color: #000000b3; padding: 10px; color: white;">

                {% if token_fail %}

                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}
                         The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                        {% endblocktrans %}
                    </p>

                {% else %}

                {% if form %}
                {% load crispy_forms_tags %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form| crispy }}
                            <input type="submit" class="btn btn-primary" name="action" value="{% trans 'change password' %}"/>
                        </form>
                    {% else %}
                         <p>
                             {% trans 'Your password is now changed.' %}
                         </p>
                    {% endif %}

                {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
</section>


{% endblock %}
